absl-py==2.1.0
aiofiles
aiohttp
aiobotocore
aioitertools
aiosignal
aiosqlite
alabaster
altair
anyio
appdirs==1.4.4
astroid
astropy
astunparse==1.6.3
attrs
autopep8
Babel
bcrypt
beautifulsoup4
black
bleach
bokeh
boto3
botocore
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
contourpy
cookiecutter
cryptography
cycler
dask
debugpy
decorator
distributed
fastapi==0.115.6
frozendict
frozenlist
fsspec
google-auth==2.36.0
google-auth-oauthlib==0.4.6
grpcio==1.68.1
h11
h5py
httpcore
httpx
hvplot
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jax==0.4.30
jaxlib==0.4.30
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==2.12.0
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libclang==18.1.1
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
ml_dtypes==0.5.0
mlxtend
more-itertools
mpmath
msgpack
multidict
multipledispatch
munkres==1.1.4
mypy
mypy-extensions
navigator-updater
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy==1.23.5
numpydoc
oauthlib==3.2.2
openpyxl==3.0.10
opt_einsum==3.4.0
overrides
packaging
pandas
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
prometheus-client
prompt-toolkit
Protego
protobuf==4.25.5
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl==7.45.2
pydantic
pydeck
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc